.DS_Store
.idea/
.nyc_output/
build/
dist/
node_modules/
electronMain/build/
electronMain/node_modules/


ref/

NativeScript/ThunderBolt-NS/app/Bridge/
NativeScript/ThunderBolt-NS/app/pages
NativeScript/ThunderBolt-NS/app/BuildEnvironment.json
