<main-page>
    <action-bar no-back="true" title="Main Page" menu-id="main" toolbar-id="main" indicators-id="main"/>
    <simple-label bind="testValues.mainLabel as text" text="Hello"/>
    <simple-button text="Go to Next Page" action="onClick"/>

    <script>
      import * as activity from './main-page'
      export default {activity}
    </script>
</main-page>