<next-page>
    <action-bar title="Main Page" menu-id="main" toolbar-id="main" indicators-id="main"/>
    <simple-label bind="testValues.mainLabel as text" text="Hello, this is the next page"/>

    <script>
        import * as activity from './next-page'
        export default { activity }

    </script>
</next-page>