
$normal-font:    Helvetica, sans-serif;
$primary-color: #333;

/**
Use font auwesome
 */
$fa-font-path:        "../webfonts";
@import "fa-scss/fontawesome";
@import "fa-scss/solid";

/**
Apply defaults
 */
body {
  font: 100% $normal-font;
  color: $primary-color;
  cursor: auto;
}

.divider-vertical {
  width: 100%;
  height: 2px;
  background-color: lightgray;
  cursor: ns-resize;
  border: 2px solid #444;
  border-left: none;
  border-right: none;
}
.divider-horizontal {
  width: 10px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  border: 2px solid #444;
}


// enable to force non-disappearing scrollers on mac.  Not sure we want it. also has other format ramifications.
//::-webkit-scrollbar {
//  -webkit-appearance: none;
//  width: 7px;
//}
//
//::-webkit-scrollbar-thumb {
//  border-radius: 4px;
//  background-color: rgba(0, 0, 0, .5);
//  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
//}

/**
Define a label as bold
 */
%label {
  font-weight: bold;
}
/**
apply label definition to both Label tag and label class
 */
label {
  @extend %label;
}
.label {
  @extend %label;
}
/**
Define an offset for values that follow a label in a span.
 */
.value {
  display: inline-block;
  margin-left: 10px;
}

/** Test indicator/tool class */
.myclassyclassclass {
  background-color: aqua;
  border-size: 2px;
  border-color: salmon;
}