<ab-indicator>
    <div class="ab-indicator">
        <div style="vertical-align: middle; text-align: center">{props.label}</div>
    </div>
    <style>
        .ab-indicator {
            border: 1px solid darkblue;
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</ab-indicator>